@import "@styles/mixin.module.scss";
@import "@styles/variable.module.scss";

.container {
    @include flex_box_custom(space-between, center, 10px);

    margin-top: 100px;

    .title {
        font-size: 35px;
        color: $four_color;
        font-weight: 400;
        text-align: center;
    }

    .des {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: $thir_color;
        line-height: 26px;
        width: 460px;
    }

    .boxBtn {
        @include flex_box_custom(center, center, 0);

        margin-top: 30px;
    }

    .boxImage {
        @include flex_box_custom(center, center, 0px);

        width: 400px;
    }
}
