@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";

.container {
    @include flex_box_custom(center, center, 0);

    margin: 65px 0 15px;
}

.headline {
    height: 2px;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.containerMiddleBox {
    @include flex_box_custom(center, center, 0);

    width: 60%;
    flex-direction: column;
    padding: 0 50px;
    line-height: 0;
    margin-bottom: 30px;
}

.des {
    font-size: 14px;
    color: $thir_color;
    text-transform: uppercase;
}

.title {
    font-size: 24px;
    color: $primary_color;
}
